.leftcontainer{
   width:200px;
   height:100vh;
   background-color:  red;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.levels {
   box-sizing: border-box;
   width:150px;
}

.pixelvalues{
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;  
   width:150px;
}
.pixelvalues input{
   width: 120px;
   margin-right: 8px;
}

